<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.epc.tendering.service.mapper.bid.TPurchaserDetailInfoMapper" >
  <resultMap id="BaseResultMap" type="com.epc.tendering.service.domain.bid.TPurchaserDetailInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="purchaser_id" property="purchaserId" jdbcType="BIGINT" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="uniform_credit_code" property="uniformCreditCode" jdbcType="VARCHAR" />
    <result column="public_bank_name" property="publicBankName" jdbcType="VARCHAR" />
    <result column="public_ban_account_number" property="publicBanAccountNumber" jdbcType="VARCHAR" />
    <result column="extended_field" property="extendedField" jdbcType="VARCHAR" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, purchaser_id, company_name, uniform_credit_code, public_bank_name, public_ban_account_number, 
    extended_field, create_at, update_at, is_deleted
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.epc.tendering.service.domain.bid.TPurchaserDetailInfoCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_purchaser_detail_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_purchaser_detail_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_purchaser_detail_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.epc.tendering.service.domain.bid.TPurchaserDetailInfoCriteria" >
    delete from t_purchaser_detail_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.epc.tendering.service.domain.bid.TPurchaserDetailInfo" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_purchaser_detail_info (purchaser_id, company_name, uniform_credit_code, 
      public_bank_name, public_ban_account_number, 
      extended_field, create_at, update_at, 
      is_deleted)
    values (#{purchaserId,jdbcType=BIGINT}, #{companyName,jdbcType=VARCHAR}, #{uniformCreditCode,jdbcType=VARCHAR}, 
      #{publicBankName,jdbcType=VARCHAR}, #{publicBanAccountNumber,jdbcType=VARCHAR}, 
      #{extendedField,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.epc.tendering.service.domain.bid.TPurchaserDetailInfo" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_purchaser_detail_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="purchaserId != null" >
        purchaser_id,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="uniformCreditCode != null" >
        uniform_credit_code,
      </if>
      <if test="publicBankName != null" >
        public_bank_name,
      </if>
      <if test="publicBanAccountNumber != null" >
        public_ban_account_number,
      </if>
      <if test="extendedField != null" >
        extended_field,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="purchaserId != null" >
        #{purchaserId,jdbcType=BIGINT},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="uniformCreditCode != null" >
        #{uniformCreditCode,jdbcType=VARCHAR},
      </if>
      <if test="publicBankName != null" >
        #{publicBankName,jdbcType=VARCHAR},
      </if>
      <if test="publicBanAccountNumber != null" >
        #{publicBanAccountNumber,jdbcType=VARCHAR},
      </if>
      <if test="extendedField != null" >
        #{extendedField,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.epc.tendering.service.domain.bid.TPurchaserDetailInfoCriteria" resultType="java.lang.Integer" >
    select count(*) from t_purchaser_detail_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_purchaser_detail_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.purchaserId != null" >
        purchaser_id = #{record.purchaserId,jdbcType=BIGINT},
      </if>
      <if test="record.companyName != null" >
        company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.uniformCreditCode != null" >
        uniform_credit_code = #{record.uniformCreditCode,jdbcType=VARCHAR},
      </if>
      <if test="record.publicBankName != null" >
        public_bank_name = #{record.publicBankName,jdbcType=VARCHAR},
      </if>
      <if test="record.publicBanAccountNumber != null" >
        public_ban_account_number = #{record.publicBanAccountNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.extendedField != null" >
        extended_field = #{record.extendedField,jdbcType=VARCHAR},
      </if>
      <if test="record.createAt != null" >
        create_at = #{record.createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateAt != null" >
        update_at = #{record.updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_purchaser_detail_info
    set id = #{record.id,jdbcType=BIGINT},
      purchaser_id = #{record.purchaserId,jdbcType=BIGINT},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      uniform_credit_code = #{record.uniformCreditCode,jdbcType=VARCHAR},
      public_bank_name = #{record.publicBankName,jdbcType=VARCHAR},
      public_ban_account_number = #{record.publicBanAccountNumber,jdbcType=VARCHAR},
      extended_field = #{record.extendedField,jdbcType=VARCHAR},
      create_at = #{record.createAt,jdbcType=TIMESTAMP},
      update_at = #{record.updateAt,jdbcType=TIMESTAMP},
      is_deleted = #{record.isDeleted,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.epc.tendering.service.domain.bid.TPurchaserDetailInfo" >
    update t_purchaser_detail_info
    <set >
      <if test="purchaserId != null" >
        purchaser_id = #{purchaserId,jdbcType=BIGINT},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="uniformCreditCode != null" >
        uniform_credit_code = #{uniformCreditCode,jdbcType=VARCHAR},
      </if>
      <if test="publicBankName != null" >
        public_bank_name = #{publicBankName,jdbcType=VARCHAR},
      </if>
      <if test="publicBanAccountNumber != null" >
        public_ban_account_number = #{publicBanAccountNumber,jdbcType=VARCHAR},
      </if>
      <if test="extendedField != null" >
        extended_field = #{extendedField,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.epc.tendering.service.domain.bid.TPurchaserDetailInfo" >
    update t_purchaser_detail_info
    set purchaser_id = #{purchaserId,jdbcType=BIGINT},
      company_name = #{companyName,jdbcType=VARCHAR},
      uniform_credit_code = #{uniformCreditCode,jdbcType=VARCHAR},
      public_bank_name = #{publicBankName,jdbcType=VARCHAR},
      public_ban_account_number = #{publicBanAccountNumber,jdbcType=VARCHAR},
      extended_field = #{extendedField,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.epc.tendering.service.domain.bid.TPurchaserDetailInfoCriteria" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_purchaser_detail_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
    <select id="selectNameByPurchaserId" resultType="java.lang.String">

SELECT
	company_name
FROM
	t_purchaser_detail_info
WHERE
	1 = 1
AND purchaser_id = #{purchaserId}
AND is_deleted= 0
    </select>
</mapper>