# system file for storing directory properties
# ===================================================
.DS_Store

# ===================================================
# idea project file 
# ===================================================
.ipr
*.iml
.iws
.idea/

# ===================================================
# eclipse project file
# ===================================================
.project
.classpath
.metadata/
.settings/


# ===================================================
# maven project file
# ===================================================
target/
mvn.bat
mvn.sh
mvnw.cmd
mvnw
.mvn/

# ===================================================
# gradle project file
# ===================================================
.gradle/
gradle/
gradlew.sh
gradlew.bat
build/
out/

# ===================================================
# system log
# ===================================================
log/
logs/
.log

# ===================================================
# git
# ===================================================
.gitignore


# ===================================================
#
# ===================================================
#.travis.yml