# system file for storing directory properties
# ===================================================
.DS_Store
epc.sql
generator
# ===================================================
# idea project file 
# ===================================================
.ipr
*.iml
.iws
.idea/
@logging.path@
target
*.log
README.md
*.properties
logback.xml
rebel.xml
# ===================================================
# eclipse project file
# ===================================================
.project
.classpath
.metadata/
.settings/


# ===================================================
# maven project file
# ===================================================
target/
mvn.bat
mvn.sh
mvnw.cmd
mvnw
.mvn/

# ===================================================
# gradle project file
# ===================================================
.gradle/
gradle/
gradlew.sh
gradlew.bat
build/
out/

# ===================================================
# system log
# ===================================================
log/
logs/
.log

# ===================================================
# git
# ===================================================
.gitignore


# ===================================================
#
# ===================================================
#.travis.yml
### Example user template template
### Example user template

# IntelliJ project files
.idea
out
gen
@logging.path@/
epc-eureka-server.log
