<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <springProperty scope="context" name="app_name" source="spring.application.name"/>
    <springProperty scope="context" name="logPath" source="log.path"/>
    <springProperty scope="context" name="logLevel" source="log.level"/>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <jmxConfigurator/>

    <appender name="appLog" class="com.jason.support.common.common.log.AutoConfigRollingFileAppender">
        <file>${logPath}/cloud-webhook-moxie.log</file>
    </appender>

    <springProfile name="dev,test">
        <root level="${logLevel}">
            <appender-ref ref="appLog"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>


    <springProfile name="prod">
        <root level="${logLevel}">
            <appender-ref ref="appLog"/>
        </root>
    </springProfile>

</configuration>