<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.epc.tendering.service.mapper.committee.BAssessmentCommitteeMapper" >
  <resultMap id="BaseResultMap" type="com.epc.tendering.service.domain.committee.BAssessmentCommittee" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="procurement_project_id" property="procurementProjectId" jdbcType="BIGINT" />
    <result column="total_number" property="totalNumber" jdbcType="INTEGER" />
    <result column="platform_experts_number" property="platformExpertsNumber" jdbcType="INTEGER" />
    <result column="owner_specialists_number" property="ownerSpecialistsNumber" jdbcType="INTEGER" />
    <result column="auditor_id" property="auditorId" jdbcType="BIGINT" />
    <result column="replies_id" property="repliesId" jdbcType="BIGINT" />
    <result column="process_state" property="processState" jdbcType="INTEGER" />
    <result column="operate_id" property="operateId" jdbcType="BIGINT" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, procurement_project_id, total_number, platform_experts_number, owner_specialists_number, 
    auditor_id, replies_id, process_state, operate_id, create_at, update_at, is_deleted
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.epc.tendering.service.domain.committee.BAssessmentCommitteeCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_assessment_committee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from b_assessment_committee
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from b_assessment_committee
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.epc.tendering.service.domain.committee.BAssessmentCommitteeCriteria" >
    delete from b_assessment_committee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.epc.tendering.service.domain.committee.BAssessmentCommittee" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into b_assessment_committee (procurement_project_id, total_number, 
      platform_experts_number, owner_specialists_number, 
      auditor_id, replies_id, process_state, 
      operate_id, create_at, update_at, 
      is_deleted)
    values (#{procurementProjectId,jdbcType=BIGINT}, #{totalNumber,jdbcType=INTEGER}, 
      #{platformExpertsNumber,jdbcType=INTEGER}, #{ownerSpecialistsNumber,jdbcType=INTEGER}, 
      #{auditorId,jdbcType=BIGINT}, #{repliesId,jdbcType=BIGINT}, #{processState,jdbcType=INTEGER}, 
      #{operateId,jdbcType=BIGINT}, #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.epc.tendering.service.domain.committee.BAssessmentCommittee" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into b_assessment_committee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="procurementProjectId != null" >
        procurement_project_id,
      </if>
      <if test="totalNumber != null" >
        total_number,
      </if>
      <if test="platformExpertsNumber != null" >
        platform_experts_number,
      </if>
      <if test="ownerSpecialistsNumber != null" >
        owner_specialists_number,
      </if>
      <if test="auditorId != null" >
        auditor_id,
      </if>
      <if test="repliesId != null" >
        replies_id,
      </if>
      <if test="processState != null" >
        process_state,
      </if>
      <if test="operateId != null" >
        operate_id,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="procurementProjectId != null" >
        #{procurementProjectId,jdbcType=BIGINT},
      </if>
      <if test="totalNumber != null" >
        #{totalNumber,jdbcType=INTEGER},
      </if>
      <if test="platformExpertsNumber != null" >
        #{platformExpertsNumber,jdbcType=INTEGER},
      </if>
      <if test="ownerSpecialistsNumber != null" >
        #{ownerSpecialistsNumber,jdbcType=INTEGER},
      </if>
      <if test="auditorId != null" >
        #{auditorId,jdbcType=BIGINT},
      </if>
      <if test="repliesId != null" >
        #{repliesId,jdbcType=BIGINT},
      </if>
      <if test="processState != null" >
        #{processState,jdbcType=INTEGER},
      </if>
      <if test="operateId != null" >
        #{operateId,jdbcType=BIGINT},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.epc.tendering.service.domain.committee.BAssessmentCommitteeCriteria" resultType="java.lang.Integer" >
    select count(*) from b_assessment_committee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update b_assessment_committee
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.procurementProjectId != null" >
        procurement_project_id = #{record.procurementProjectId,jdbcType=BIGINT},
      </if>
      <if test="record.totalNumber != null" >
        total_number = #{record.totalNumber,jdbcType=INTEGER},
      </if>
      <if test="record.platformExpertsNumber != null" >
        platform_experts_number = #{record.platformExpertsNumber,jdbcType=INTEGER},
      </if>
      <if test="record.ownerSpecialistsNumber != null" >
        owner_specialists_number = #{record.ownerSpecialistsNumber,jdbcType=INTEGER},
      </if>
      <if test="record.auditorId != null" >
        auditor_id = #{record.auditorId,jdbcType=BIGINT},
      </if>
      <if test="record.repliesId != null" >
        replies_id = #{record.repliesId,jdbcType=BIGINT},
      </if>
      <if test="record.processState != null" >
        process_state = #{record.processState,jdbcType=INTEGER},
      </if>
      <if test="record.operateId != null" >
        operate_id = #{record.operateId,jdbcType=BIGINT},
      </if>
      <if test="record.createAt != null" >
        create_at = #{record.createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateAt != null" >
        update_at = #{record.updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update b_assessment_committee
    set id = #{record.id,jdbcType=BIGINT},
      procurement_project_id = #{record.procurementProjectId,jdbcType=BIGINT},
      total_number = #{record.totalNumber,jdbcType=INTEGER},
      platform_experts_number = #{record.platformExpertsNumber,jdbcType=INTEGER},
      owner_specialists_number = #{record.ownerSpecialistsNumber,jdbcType=INTEGER},
      auditor_id = #{record.auditorId,jdbcType=BIGINT},
      replies_id = #{record.repliesId,jdbcType=BIGINT},
      process_state = #{record.processState,jdbcType=INTEGER},
      operate_id = #{record.operateId,jdbcType=BIGINT},
      create_at = #{record.createAt,jdbcType=TIMESTAMP},
      update_at = #{record.updateAt,jdbcType=TIMESTAMP},
      is_deleted = #{record.isDeleted,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.epc.tendering.service.domain.committee.BAssessmentCommittee" >
    update b_assessment_committee
    <set >
      <if test="procurementProjectId != null" >
        procurement_project_id = #{procurementProjectId,jdbcType=BIGINT},
      </if>
      <if test="totalNumber != null" >
        total_number = #{totalNumber,jdbcType=INTEGER},
      </if>
      <if test="platformExpertsNumber != null" >
        platform_experts_number = #{platformExpertsNumber,jdbcType=INTEGER},
      </if>
      <if test="ownerSpecialistsNumber != null" >
        owner_specialists_number = #{ownerSpecialistsNumber,jdbcType=INTEGER},
      </if>
      <if test="auditorId != null" >
        auditor_id = #{auditorId,jdbcType=BIGINT},
      </if>
      <if test="repliesId != null" >
        replies_id = #{repliesId,jdbcType=BIGINT},
      </if>
      <if test="processState != null" >
        process_state = #{processState,jdbcType=INTEGER},
      </if>
      <if test="operateId != null" >
        operate_id = #{operateId,jdbcType=BIGINT},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.epc.tendering.service.domain.committee.BAssessmentCommittee" >
    update b_assessment_committee
    set procurement_project_id = #{procurementProjectId,jdbcType=BIGINT},
      total_number = #{totalNumber,jdbcType=INTEGER},
      platform_experts_number = #{platformExpertsNumber,jdbcType=INTEGER},
      owner_specialists_number = #{ownerSpecialistsNumber,jdbcType=INTEGER},
      auditor_id = #{auditorId,jdbcType=BIGINT},
      replies_id = #{repliesId,jdbcType=BIGINT},
      process_state = #{processState,jdbcType=INTEGER},
      operate_id = #{operateId,jdbcType=BIGINT},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.epc.tendering.service.domain.committee.BAssessmentCommitteeCriteria" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_assessment_committee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>